<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <div>
            <p>
                <!-- To navigate through the room and pick/place items, you can use the following keyboard controls: -->
                To navigate through the room, you can use the following keyboard controls:
                <ul>
                    <li>W: To move forward</li>
                    <!-- <li>S: To move backward</li>
                    <li>Spacebar: Pick/Place an object</li> -->
                </ul>
            </p>
        </div>

        <div>
            <p>
                You can look around using the following keyboard controls:
                <ul>
                    <li>Left arrow/A: Turn left</li>
                    <li>Right arrow/D: Turn right</li>
                    <li>Up arrow: Look up</li>
                    <li>Down arrow: Look down</li>
                </ul>
            </p>
        </div>
        
        <!-- <div>
            <p>
                Instructions when interacting with objects:
                <ul>
                    <li>When you pick up an object to carry it to another location, it will be displayed in your inventory menu at the bottom of the screen.</li>
                    <li>You can only carry one object at a time.</li>
                    <li>To pick up any object you have to aim the cursor to the object you want to pick and hit the Spacebar. If you are within <b>1.5m</b> of the object you'll see a box around the object which indicates that you can pick up the object.</li>
                    <li>If you try to pick a second object the first object which was picked up will be dropped.</li>
                    <li>To place an object, walk to within <b>1.5m</b> of the target location, aim your cursor at the point where you want to place the object and hit Spacebar.</li>
                    <li>To complete the task pick up the object mentioned in the task and carry it to the receptacle object.</li>
                </ul>
            </p>
        </div> -->

        <div>
            <p>
                Instructions when submitting the task:
                <ul>
                    <li>When you find an object, please move as close as possible to the object.</li>
                    <li>You can only submit the task when you are within 1m of the object.</li>
                </ul>
            </p>
        </div>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

</div>
