<div id="container-instructions">

    <h1>Instructions</h1>
  
    <hr />
  
    <div class="instructions well">
        <ul>
      <li><p>In this task, you will be asked to perform simple activities -- e.g. “find and go to the cabinet” -- in a simulated household environment. </p></li>
  
      <!-- <li><p>You will be able to move around and interact with objects in the environment using keyboard controls.</p></li> -->
      <li><p>You will be able to move around in the environment using keyboard controls.</p></li>

      <!-- <li><p>On the left side of the screen you will be shown the objects you can interact with in the environment.</p></li> -->

      <li><p>Before the task begins, you will be shown a task demo to familiarize you with the task setup. You will also be able to use and practice the keyboard controls at this time.</p></li>
  
      <li><p>At the end of the task, you will be prompted to complete a survey.</p></li>

      <li><p><b>Do not navigate away or reload the webpage</b> until the HIT is complete.</p></li>
      <li><p> The task will take approximately <b>2-4 minutes to load</b> in your browser, consisting of a “Downloading” phase and then a “Running” phase. The start button will be enabled once downloading has completed</p></li>

       <li>
           <p>To summarize, you will go through four stages during this HIT:
            <b>
                <ol>
                    <li>Task demo</li>
                    <li>Training task</li>
                    <li>Actual task</li>
                    <li>Survey</li>
                </ol>
            </b>
        </p>
      </li>

      <li><p>You have to go through the task demo and training task only once. You will start with the actual task directly in subsequent HITs.</p></li>

    </ul>

    </div>
  
    <hr />
  
  
</div>