# Data assets
task/data/
task/*.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Logs
task/.psiturk_history
task/server.log

# Build directories
build_js
build_corrade-rc
node_modules
package-lock.json

# Bundle files
task/static/habitat-sim/
