<!DOCTYPE html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>Habitat-Web - Informed Consent Form</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <link rel="icon" href="/static/favicon.ico" />
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }

            function getParameterByName(name, url = window.location.href) {
                name = name.replace(/[\[\]]/g, '\\$&');
                var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }

            function redirect() {
                var url = window.location.href;
                var splitteUrl = url.split("/");
                var hostUrl = splitteUrl[0] + "//" + splitteUrl[2];

                // Build request
                var requestUrl = hostUrl + "/api/v0/completed_episodes";
                let request = new XMLHttpRequest();
                request.open("POST", requestUrl)
                request.send(JSON.stringify({
                    "hitId": getParameterByName("hitId"),
                    "assignmentId": getParameterByName("assignmentId"),
                    "workerId": getParameterByName("workerId"),
                    "taskIds": ["i5noydFURQK.glb", "JeFG25nYj2p.glb"],
                    "episodeIds": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
                    "perEpisodeLimit": 5,
                    "mode": getParameterByName("mode"),
                }));
                request.onload = () => {
                    if (request.status == 200) {
                        var response = JSON.parse(request.response);
                        var taskId = response["taskId"];
                        var episodeId = response["episodeId"];

                        var mode = getParameterByName("mode");
                        if (response["all_episodes_completed"] == true) {
                            window.location = "/allcomplete.html?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}&mode=" + mode;
                        } else if (response["no_episodes_available"] == true || response["max_episodes_reached"] == true) {
                            window.location = "/noepisodeavailable.html?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}&mode=" + mode;
                        } else if (response["already_complete"] == true) {
                            window.location = "/allcomplete.html?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}&mode=" + mode;
                        } else if (response["retry"] == true) {
                            window.location = "/retrytask.html?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}&mode=" + mode;
                        } else if (response["hit_limit_get_fail"] == true) {
                            window.location = "/limitfailure.html?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}&mode=" + mode;
                        } else {
                            var hitUrl = "/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}&mode=" + mode + "&enablePhysics=true&defaultPhysConfig=default.physics_config.json&scene=" + taskId + "&episodeId=" + episodeId + "&dataset=objectnav";
                            window.location = hitUrl;
                        }
                    } else {
                        console.log("Oops!");
                    }
                }
            }
        </script>
		<style>
			@media print {
				body * {
					visibility: hidden;
				}
				.legal, .legal * {
					visibility: visible;
				}
				.legal {
					position: absolute;
					left: 0;
					top: 0;
					overflow:visible;
				} 
			}
		</style>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h1>We need your consent to proceed</h1>
                <hr />
                <div class="legal well">
                    <p>
                        By participating in this study, you signify your agreement to all terms noted in the Matterport3D dataset license agreement: <a href="http://kaldir.vc.in.tum.de/matterport/MP_TOS.pdf">http://kaldir.vc.in.tum.de/matterport/MP_TOS.pdf</a>.
                    </p>
                </div>

                <center>
                    <button type="button" class="btn btn-primary btn-lg" id="hit-start-button" onClick="redirect()">
                         <!-- onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}&enablePhysics=true&defaultPhysConfig=default.phys_scene_config.json&task=1&episodeId='+ Math.floor(Math.random() * 25) +''"> -->
                    <span class="glyphicon glyphicon-ok"></span> I agree 
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>

